<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>common</title>

    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
  <header th:fragment="header">
      <div class="header_top">

              <h2 class="header_left">header.html</h2>
          <nav>
              <ul class="header_right">
                  <li class="success">
                      <form th:action="@{/user/logout}" method="post">
                          <button>로그아웃</button>
                      </form>
                  </li>
                  <li class="success"><input type="button" id="user_name" onclick="List()" value="테스트님">
                  </li>
                  <li class="before">
                      <a th:href="@{/user/join}" th:text="회원가입"></a>
                  </li>
                  <li class="before">
                      <a th:href="@{/user/login}" th:text="로그인"></a>
                  </li>
              </ul>
          </nav>
          <div class="header_content">
              <div class="logo"><img src="" alt=""></div>
              <nav class="header_left">
                  <ul>
                      <li class="all"><a th:href="@{/map}">지도 공통</a></li>
                      <li class="all"><a th:href="@{/map}">지도 공통</a></li>
                      <li class="all"><a th:href="@{/map}">지도 공통</a></li>
                      <li class="null"><a th:href="@{/takeoff/customer/list}">견적신청 소비자</a></li>
                      <li class="seller"><a th:href="@{/takeoff/seller/list}">견적서확인 시공사</a></li>
                      <li class="engineer"><a th:href="@{/employment/list}">구인구직 기술자</a></li>
                      <li class="seller"><a th:href="@{/employment/list}">구인구직 시공사</a></li>
                      <li class="user"><a th:href="@{/board/list}">팁&랜선 소비자</a></li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>


    <footer th:fragment="footer">
        <div class="footer_bottom">
            <div class="footer_content">
                <div>401_sheeps</div>
            </div>
        </div>
    </footer>

</body>
</html>