<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>common</title>
    <script defer src="/javascript/common.js"></script>
</head>
<script>
    const user = "[[${session?.user_id}]]";
    const type = "[[${session?.user_type}]]";

    $(() => {
        userType();
        loginStatus();
    })
</script>
<body>
<header th:fragment="header">
	<div class="header_top">
		<div class="header_content">
			<nav class="header_left">
				<ul class="logo">
					<li><img src="/image/woopeonin_logo.png" alt="header_logo"></li>
				</ul>
				<ul class="left">
					<li class="all"><a th:href="@{/}">지도 공통</a></li>
					<li class="null"><a th:href="@{/wish/list}">인테리어 위시</a></li>
					<li class="seller"><a th:href="@{/takeoff/seller/list}">견적서확인 시공사</a></li>
					<li class="seller"><a th:href="@{/employment/list(page_number=1)}">구인구직 시공사</a></li>
					<li class="engineer"><a th:href="@{/employment/list(page_number=1)}">구인구직 시공사</a></li>
					<li class="user"><a th:href="@{/templates/employment/list}">팁&랜선 소비자</a></li>
				</ul>
				<ul class="right">
					<li>
						<input type="button" id="common_user_name" onclick="List()" value="테스트님">
						<div class="list_box">
							<div class="seller2"><a th:href="@{/seller/main}">업체페이지</a></div>
							<div class="all2"><a th:href="@{/mypage/write}">회원정보수정 전체</a></div>
							<div class="user2"><a th:href="@{/wish/list}">위시리스트 소비자</a></div>
							<div class="seller2"><a th:href="@{/takeoff/seller/list}">견적리스트</a></div>
							<div class="seller2"><a th:href="@{/}">내가 쓴 글 리스트 시공사</a></div>
							<div class="engineer2"><a th:href="@{/}">내가 쓴 글 리스트 기술사</a></div>
							<div class="all2">
								<form th:action="@{/user/logout}" method="post">
									<button class="logout_class">로그아웃</button>
								</form>
							</div>
						</div>
					</li>

					<li class="before">
						<a th:href="@{/user/join}" th:text="회원가입"></a>
					</li>
					<li class="before">
						<a th:href="@{/user/login}" th:text="로그인"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<footer th:fragment="footer">
    <div class="footer_bottom">
        <div class="footer_content">
						<ul class="footer_inline">
							<li><a href="">이용약관</a></li>
							<li><a href="">개인정보처리방침</a></li>
							<li><a href="">고객센터</a></li>
						</ul>
					<div class="footer_img"><img src="/image/woopeonin_logo.png" alt="footer_logo" class="footer_logo"></div>
        </div>
    </div>
</footer>
</body>
</html>