<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>common</title>

    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
  <header th:fragment="header">
      <div class="header_top">

              <h2 class="header_left">header.html</h2>
          <nav>
              <ul class="header_right">
                  <li class="success">
                      <form th:action="@{/user/logout}" method="post">
                          <button>로그아웃</button>
                      </form>
                  </li>
                  <li class="success"><input type="button" id="user_name" value="테스트님"></li>
                  <li class="before">
                      <a th:href="@{/user/join}" th:text="회원가입"></a>
                  </li>
                  <li class="before">
                      <a th:href="@{/user/login}" th:text="로그인"></a>
                  </li>
              </ul>
          </nav>
          <div class="header_content">
              <div class="logo"><img src="" alt=""></div>
              <nav class="header_left">
                  <ul>
                      <li class="all">지도 공통/</li>
                      <li class="all">지도 공통/</li>
                      <li class="all">지도 공통/</li>
                      <li class="null">
                          <a th:href="@{/wish/list}">위시리시트</a>
                      </li>
                      <li class="seller">견적서확인 시공사/</li>
                      <li class="engineer">구인구직 기술사/</li>
                      <li class="seller">구인구직 시공사/</li>
                      <li class="user">팁&랜선 소비자/</li>

                  </ul>
              </nav>
          </div>
      </div>
  </header>


    <footer th:fragment="footer">
        <div class="footer_bottom">
            <div class="footer_content">
                <div>401_sheeps</div>
            </div>
        </div>
    </footer>

</body>
</html>