<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish Detail</title>
</head>
<style>
    ul {
        list-style-type: none;
    }
</style>
<body>
<h2>위시 디테일</h2>
<div>
    <!--header-->
</div>
<div>
    <!--  위 div는 전체 묶음  -->
    <form action="/wish/update" method="get">
        <div th:text="${wish_dto?.wish_addr}">주소</div><br>
        <div th:text="${wish_dto?.wish_type}">주거형태</div><br>
        <div th:text="${wish_dto?.wish_size}">평수</div><br>
        <div th:text="${wish_dto?.wish_size_text}">평수상세</div><br>
        <div th:text="${wish_dto?.wish_money}+만원">예산</div><br>

        <th:block th:each="category:${category_list_dto}">
            <div th:text="${category.major_category}">대분류 넘버</div>
            <div th:text="${category.major_text}">대분류 텍스트</div><br>
            <th:block th:each="subcategory:${category.sub_category}">
                <div th:text="${subcategory}">중분류 넘버</div>
            </th:block>
        </th:block>
        <div>
            <input type="hidden" name="wish_number" th:value="${wish_dto?.wish_number}">
            <input type="submit" value="위시 수정">
        </div>
    </form>
</div>
<div>
    <!--   footer   -->
</div>
<script th:inline="javascript">
</script>
</body>
</html>