<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/javascript/common.js"></script>
    <script th:inline="javascript">
        const user = [[${session?.user_id}]];
        const type = [[${session?.user_type}]];

        $(() => {
            console.log(type)
            userType();
            loginStatus();
        })
        function wish_write() {
            location.href = "/wish/write"
        }

        function takeoff(btn) {
            const wishnumber = btn.previousElementSibling.value
            axios.post('/takeoff/call',{
                user_id: [[${session.user_id}]],
                wish_number: wishnumber,
                apply_status: "0",
            }).then((res)=>{
                if(res){
                    alert("견적 요청이 완료되었습니다")
                    location.href="/wish/list";
                }else{
                    alert("견적 요청이 실패되었습니다");
                    location.href="/wish/list";
                }
            });

        }
        function selecttakeoff(){
            axios.post('')
        }
        function takeofflist(btn){
            const takeofflist = document.querySelector('.takeoff_list');
            const openbtn = document.getElementById('openbtn');
            const closebtn = document.getElementById('closebtn');

            if (btn===openbtn) {
                const wishnumber = btn.previousElementSibling.value
                console.log(wishnumber);
                axios.post('/takeoff/list', {
                    wish_number: wishnumber
                }).then((res) => {
                    console.log(res);

                    console.log("테스트");
                    closebtn.style.display = 'block';
                    btn.style.display = 'none';
                    res.data.forEach(resp => {
                        takeofflist.innerHTML +=  '<div id="takeoffdiv">' + '<span>'+ '<a href="/takeoff/seller/detail?wish_number='+ wishnumber +'" th:href="@{/takeoff/detail(wish_number='+wishnumber+')}" th:text="' + resp.user_id + '">'+resp.user_id+'</a>' + '</span>'
                        takeofflist.innerHTML += '<span>' + resp.wish_category_seller_price + "만원" + '</span>' + '</div>';
                        takeofflist.innerHTML += '<span>' + resp.apply_status + '</span>';
                    })
                })
            }
                if (btn === closebtn) {
                    console.log("closebtn");
                    btn.style.display = 'none';
                    openbtn.style.display='block';
                    takeofflist.innerHTML="";
                }
        }
        function confirm(){

        }
    </script>
</head>
<body>
<th:block th:replace="~{common/fragment::header}"></th:block>
<h2>위시리스트 목록</h2>

<div class="list-area">
    <th:block th:if="${#lists.isEmpty(wish_list)}">
        <div>
            <div>위시리스트가 없습니다</div>
        </div>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(wish_list)}">
        <th:block th:each="wish:${wish_list}">
            <div>
                <a class="detaillink" th:href="@{/wish/detail(wish_number=${wish?.wish_number})}" th:text="${wish?.wish_title}"></a>
            </div>

            <div th:if="${wish?.apply_status}" id="applystatus" th:text="${wish?.apply_status}">상태값</div>

            <div th:unless="${wish?.apply_status!=null}" class="takeoffarea">
                    <input type="hidden" th:value="${wish?.wish_number}" class="wish_number" name="wish_number">
                    <input type="button" class="wish_takeoff" onclick="takeoff(this)" value="견적요청">
            </div>

        <div class="">
            <div th:if="${wish?.apply_status!=0 or wish?.apply_status!=null}">
                <input type="hidden" th:value="${wish?.wish_number}" class="wish_number_status" name="wish_number">
                <input type="button" value="버튼" id="openbtn" onclick="takeofflist(this)">
                <input type="button" hidden value="닫기버튼" id="closebtn" onclick="takeofflist(this)">
            </div>
            <div class="test">
            <div class="takeoff_list">

                </div>
            </div>
            <div class="">
                <input type="hidden" th:value="${wish?.wish_number}" class="wish_number_status" name="wish_number">
                <input type="button" value="확정" onclick="confirm()">
            </div>
        </div>
            ---------------------------------
        </th:block>
    <div class="wishBarea">
        <input type="button" id="wish_write" onclick="wish_write()" value="글쓰기">
    </div>
    </th:block>
</div>
</body>
</html>