<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/javascript/common.js"></script>
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/wish.css">
    <script>
        const user = "[[${session?.user_id}]]";
        const type = "[[${session?.user_type}]]";

        $(() => {
            userType();
            loginStatus();
            createbtn()
        })

        function wish_write() {

            location.href = "/wish/write"
        }

        function takeoff(btn) {
            const wishnumber = btn.previousElementSibling.value
            axios.post('/takeoff/call', {
                user_id: "[[${session.user_id}]]",
                wish_number: wishnumber,
                apply_status: "0",
            }).then((res) => {
                if (res) {
                    alert("견적 요청이 완료되었습니다")
                    location.href = "/wish/list";
                } else {
                    alert("견적 요청이 실패되었습니다");
                    location.href = "/wish/list";
                }
            });

        }
        function contract(btn){
            const wishnumber = document.getElementsByClassName('hidden_wish_number')
            const userid = document.getElementsByClassName('hidden_user_id')
            const contractbtn = document.getElementsByClassName()
            axios.post('/takeoff/contract',{
                wish_number: wishnumber.value,
                user_id: userid.value,
            }).then((res)=>{
                if(res.data){

                }

            })
        }
        function takeofflist(btn) {
            const takeofflist = document.querySelectorAll('.takeoff_list');
            const openbtn = document.querySelectorAll('.openbtn');
            const closebtn = document.querySelectorAll('.closebtn');
            for(let i=0; i<openbtn.length; i++){
            if (btn === openbtn[i]) {
                const wishnumber = btn.parentElement.previousElementSibling.value
                console.log(wishnumber);
                axios.post('/takeoff/list', {
                    wish_number: wishnumber
                }).then((res) => {
                    console.log(res);

                    console.log("테스트");
                    closebtn[i].style.display = 'block';
                    btn.style.display = 'none';
                    res.data.forEach(resp => {
                        takeofflist[i].innerHTML += '<div class="takeoffdiv">' + '<span>' + '<a href="/takeoff/seller/detail?wish_number=' + wishnumber + '&user_id=' + resp.user_id + '" th:href="@{/takeoff/detail(wish_number=' + wishnumber + ')}" th:text="' + resp.user_id + '">' + resp.user_id + '</a>' + '</span>'
                        takeofflist[i].innerHTML += '<span>' + resp.wish_category_seller_price + "만원" + '</span>' + '</div>';
                        takeofflist[i].innerHTML += '<span>' + resp.apply_status + '</span>';
                        if(resp.apply_status==="상담중"){
                            takeofflist[i].innerHTML +='<input class="hidden_wish_number" type="hidden" value='+resp.wish_number+'>'
                            takeofflist[i].innerHTML +='<input class="hidden_user_id" type="hidden" value='+resp.user_id+'>'
                            takeofflist[i].innerHTML += '<span>' + '<input type="button" class="contractbtn" value="계약완료" onclick="contract(this)">'
                        }
                    })
                })

            }
            if (btn === closebtn[i]) {
                btn.style.display = 'none';
                openbtn[i].style.display = 'block';
                takeofflist[i].innerHTML = "";
            }
            }
        }

        function createbtn() {
            const btndiv = document.querySelectorAll('.status_wish_number')
            console.log(btndiv)
            const listdiv = document.querySelectorAll('.listbtn')
            console.log("테스트2")
            for (let i = 0; i < btndiv.length; i++) {
                axios.post('/takeoff/count', null, {
                    params: {
                        wish_number: btndiv[i].value,
                        user_id: "[[${session.user_id}]]"
                    }
                })
                    .then((res) => {
                        if (res.data) {
                            listdiv[i].innerHTML += '<input type="button" value="버튼" class="openbtn" onclick="takeofflist(this)">'
                            listdiv[i].innerHTML += '<input type="button" hidden value="닫기버튼" class="closebtn" onclick="takeofflist(this)">'
                        } else {
                            console.log("실패")
                        }
                    })
            }
        }
        function confirm(){
            const userid = document.querySelectorAll('wish_user_id')
            userid
            axios.post('/takeoff/confirm',{

            })
        }
    </script>
</head>
<body>
<th:block th:replace="~{common/fragment::header}"></th:block>
<div class="main_content">
    <h2>위시리스트</h2>
    <div class="wish-list-area">
        <th:block th:if="${#lists.isEmpty(wish_list)}">
            <div class="non_wish">
                <div>위시리스트가 없습니다</div>
            </div>
        </th:block>
        <div class="wishBarea wish_write_btn">
            <input type="button" id="wish_write" onclick="wish_write()" value="글쓰기">
        </div>

        <!--위시리스트 요청 후 -->
        <th:block th:unless="${#lists.isEmpty(wish_req_list)}">
            <th:block th:each="wish:${wish_req_list}">
                <div class="wish_list_block">
                    <div class="wish_container">
                        <div>
                            <a class="detaillink" th:href="@{/wish/detail(wish_number=${wish?.wish_number})}"
                               th:text="${wish?.wish_title}"></a>
                        </div>
                        <div th:if="${wish?.apply_status}" id="applystatus" th:text="${wish?.apply_status}"
                             class="wish_apply_status">상태값
                        </div>
                        <div th:if="${wish?.apply_status!=0 or wish?.apply_status!=null}">
                            <input type="hidden" th:value="${wish?.wish_number}" class="wish_number_status"
                                   name="wish_number">

                            <div class="listbtn"></div>
                            <div class="takeoff_list">

                            </div>

                            <div class="">
                                <input type="hidden" th:value="${wish?.wish_number}" class="status_wish_number"
                                       name="wish_number">
                                <input type="hidden" th:value="${wish?.user_id}" class="wish_user_id">
                            </div>
                        </div>
                    </div>
                    <div th:unless="${wish?.apply_status!=null}" class="takeoffarea">
                        <input type="hidden" th:value="${wish?.wish_number}" class="wish_number" name="wish_number">
                        <input type="button" class="wish_takeoff" onclick="takeoff(this)" value="견적요청">
                    </div>
                </div>

            </th:block>
        </th:block>
            <!--위시리스트(요청전)-->
            <th:block th:unless="${#lists.isEmpty(wish_list)}">
                <th:block th:each="wish:${wish_list}">
        <div class="wish_list_block">
            <div class="wish_container">
                <div>
                    <a class="detaillink" th:href="@{/wish/detail(wish_number=${wish?.wish_number})}"
                       th:text="${wish?.wish_title}"></a>
                </div>
<!--                <div th:if="${wish?.apply_status}" id="applystatus" th:text="${wish?.apply_status}"-->
<!--                     class="wish_apply_status">상태값-->
<!--                </div>-->
                <div th:if="${wish?.apply_status!=0 or wish?.apply_status!=null}">
                    <input type="hidden" th:value="${wish?.wish_number}" class="wish_number_status"
                           name="wish_number">
                    <div class="listbtn"></div>
                    <div class="takeoff_list">

                    </div>
                    <div class="">
                        <input type="hidden" th:value="${wish?.wish_number}" class="status_wish_number"
                               name="wish_number">
                        <input type="hidden" th:value="${wish?.user_id}" class="wish_user_id">
                    </div>
                </div>
            </div>
            <div th:unless="${wish?.apply_status!=null}" class="takeoffarea">
                <input type="hidden" th:value="${wish?.wish_number}" class="wish_number" name="wish_number">
                <input type="button" class="wish_takeoff" onclick="takeoff(this)" value="견적요청">
            </div>
        </div>

        </th:block>
        </th:block>
    </div>
</div>
<th:block th:replace="~{common/fragment::footer}"></th:block>
</body>
</html>