<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h2>위시작성</h2>
  <div>
    <div id="type">주거형태</div>
    <input type="radio" name="housingtype" id="apartment">아파트
    <input type="radio" name="housingtype" id="house">단독주택
    <input type="radio" name="housingtype" id="villa">빌라
  </div>
  <div>
    <div>평수</div>
    <input type="text" name="" id="size" placeholder="평수를 적어주세요.">
  </div>
  <div>
    <div>예산</div>
    <input type="text" name="" id="money" placeholder="예산을 적어주세요.">
  </div>
  <div>견적부분은 전체 인테리어 형식으로 작성됩니다.</div>
  <div>부분 및 상세조정은 참고란에 작성해주세요.</div>
  <div>
    <div>철거</div>
  </div>
</body>
</html>