<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish Write</title>
    <style>
        ul {
            display: none;
            list-style-type: none;
        }
    </style>
    <script src="/javascript/write.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            function toggleUl(){


                let checkbox = document.querySelectorAll(".major_category_number")
                let listul = document.querySelectorAll("ul")
                for (let i = 0; i < checkbox.length; i++) {
                    if (checkbox[i].checked) {
                        listul[i].style.display = 'block';
                    } else {
                        listul[i].style.display = 'none';
                        listul[i].querySelectorAll('input[type="checkbox"]').forEach(function (innerCheckbox) {
                            innerCheckbox.checked = false;
                        });
                        listul[i].querySelectorAll('input[type="text"]').forEach(function (textBox) {
                            textBox.value = '';
                        });
                    }
                }
            }
            document.querySelectorAll('input[class="major_category_number"]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    toggleUl(this);
                });
            });
        }
    </script>
</head>
<body>
<h2>위시작성</h2>
<div>
    <!--   header   -->
</div>
<div>
    <!--  위 div는 전체 묶음  -->
    <!--    아래는 컨트롤러 작성해야함    -->
    <form action="/wish/detail" method="post">
        <div>
            <!--  위 div는 필수 항목 묶음  -->
            <div>
                <div id="type">주거형태</div>
                <div>
                    <input type="radio" name="wish_type"value="1" >아파트
                    <input type="radio" name="wish_type">단독주택
                    <input type="radio" name="wish_type">빌라
                </div>
            </div>
            <br>
            <div>
                <div>평수</div>
                <div>
                    <input type="radio" name="wish_size">10평 대
                    <input type="radio" name="wish_size">20평 대
                    <input type="radio" name="wish_size">30평 대
                    <input type="radio" name="wish_size">40평 대
                    <input type="radio" name="wish_size">50평 이상
                    <div>
                        <input type="text" name="wish_size_text" placeholder="참고">
                    </div>
                    <div>
                        <p>평수를 모르신다면 참고란에 적어주세요.</p>
                        <p>평수를 정확히 알고 계신다면 참고란에 적어주세요.</p>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div>예산</div>
                <div>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="money" id="money" placeholder="예산을 적어주세요.">만원
                </div>
            </div>
            <br>
            <div>견적부분은 전체 인테리어 형식으로 작성됩니다.</div>
            <div>부분 및 상세조정은 참고란에 작성해주세요.</div>
        </div>
        <br>
        <hr>
        <br>
        <!-- 아래부터 시공 선택 사항 -->
        <input type="hidden" name="major_category" id="major_category">
        <input type="hidden" name="sub_category" id="sub_category">
        <div class="remove">

            <div><input type="checkbox" class="major_category_number" value="1">철거
                <ul>
                    <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="wood">
            <div><input type="checkbox" class="major_category_number" value="2" class="chk">목공
                <ul>
                    <li><input type="checkbox" class="sub_category_numbers" value="17">단열</li>
                    <li><input type="checkbox" class="sub_category_numbers" value="18">천장</li>
                    <li><input type="checkbox" class="sub_category_numbers" value="19">벽</li>
                    <li>
                        <input type="text" class="major_text" placeholder="상세설명을 작성해주세요.">
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="paper">
            <div><input type="checkbox" class="major_category_number" value="3">도배</div>
            <ul>
                <li>
                    <input type="text" class="major_text" placeholder="상세설명을 작성해주세요.">
                </li>
            </ul>
        </div>
        <br>
        <div class="elec">
            <div><input type="checkbox" class="major_category_number" value="4">전기</div>
            <ul>
                <li>

                    <input type="text" class="major_text" placeholder="상세설명을 작성해주세요.">
                </li>
            </ul>
        </div>
        <br>
        <div class="light">
            <div><input type="checkbox" class="major_category_number" value="5">조명</div>
            <ul>
                <li>
                    <input type="text" class="major_text" placeholder="상세설명을 작성해주세요.">
                </li>
            </ul>
        </div>
        <br>
        <div class="tile">
            <div><input type="checkbox" class="major_category_number" value="6">타일</div>
            <ul>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="film">
            <div><input type="checkbox" class="major_category_number" value="7">필름</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="20">현관방화문</li>
                <li><input type="checkbox" class="sub_category_numbers" value="21">중문</li>
                <li><input type="checkbox" class="sub_category_numbers" value="22">천장몰딩</li>
                <li><input type="checkbox" class="sub_category_numbers" value="23">걸레받이몰딩</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="coating">
            <div><input type="checkbox" class="major_category_number" value="8">도장</div>
            <ul>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="kitchen">
            <div><input type="checkbox" class="major_category_number" value="9">부엌</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="24">'ㅡ'자</li>
                <li><input type="checkbox" class="sub_category_numbers" value="25">'ㄱ'자</li>
                <li><input type="checkbox" class="sub_category_numbers" value="26">대면형</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="bath">
            <div><input type="checkbox" class="major_category_number" value="10">욕실</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="27">욕조</li>
                <li><input type="checkbox" class="sub_category_numbers" value="28">샤워부스</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="storage">
            <div><input type="checkbox" class="major_category_number" value="11">수납</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="29">드레스룸</li>
                <li><input type="checkbox" class="sub_category_numbers" value="30">붙박이장</li>
                <li><input type="checkbox" class="sub_category_numbers" value="31">현관장</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="floor">
            <div><input type="checkbox" class="major_category_number" value="12">바닥</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="32">장판</li>
                <li><input type="checkbox" class="sub_category_numbers" value="33">강화마루</li>
                <li><input type="checkbox" class="sub_category_numbers" value="34">강마루</li>
                <li><input type="checkbox" class="sub_category_numbers" value="35">타일</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="window">
            <div><input type="checkbox" class="major_category_number" value="13">창호</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="36">일반창</li>
                <li><input type="checkbox" class="sub_category_numbers" value="37">터닝도어</li>
                <li><input type="checkbox" class="sub_category_numbers" value="38">폴딩도어</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="door">
            <div><input type="checkbox" class="major_category_number" value="14">도어</div>
            <ul>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
        </div>
        <br>
        <div class="mdoor">
            <div><input type="checkbox" class="major_category_number" value="15">중문</div>
            <ul>
                <li><input type="checkbox" class="sub_category_numbers" value="39">3연동</li>
                <li><input type="checkbox" class="sub_category_numbers" value="40">여닫이</li>
                <li><input type="checkbox" class="sub_category_numbers" value="41">슬라이딩</li>
                <li><input type="text" class="major_text" placeholder="상세설명을 작성해주세요."></li>
            </ul>
            <br>
            <div class="ready">
                <div><input type="checkbox" class="major_category_number" value="16">공사준비/마감</div>
                <ul>
                    <li><input type="checkbox" class="sub_category_numbers" value="42">입주민동의서</li>
                    <li><input type="checkbox" class="sub_category_numbers" value="43">EV보양 및 실내외 보양</li>
                    <li><input type="checkbox" class="sub_category_numbers" value="44">입주청소</li>
                </ul>
            </div>
        </div>
        <!--  여기서 버튼 누르면 DB로 넘어감  -->
        <br>
        <div><input type="button" value="위시 저장" onclick="clickbtn()"></div>
    </form>
</div>
<div>
    <!--   footer   -->
</div>
<script>

    function clickbtn() {
        let major_category = [];
        let sub_category = [];
        const category_numbers = $(`input[class=major_category_number]`);
        const major_text = $('input[class=major_text]');
        const sub_category_numbers = $(`input[class=sub_category_numbers]`);

        for(i=0; i<16; i++){
            let category_number = $(category_numbers[i]);
            if (category_number.is(':checked')) {
                let data = {};
                data.category_number = category_number.val();
                data.major_text = $(major_text[i]).val()
                console.log(data)
                major_category.push(data);
            }
        }
        for(i=0; i<28; i++){
            let sub_category_number = $(sub_category_numbers[i]);
            if(sub_category_number.is(':checked')){
                let data={};
                data.sub_category_number = sub_category_number.val();
                console.log(data)
                sub_category.push(data);
            }
        }
        console.log(sub_category)
        console.log(major_category)
        $('#major_category').val(JSON.stringify(major_category));
        $('#sub_category').val(JSON.stringify(sub_category));
        console.log($('#major_category').val());
        console.log($('#sub_category').val());
    }
</script>
</body>
</html>