<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/../../resources/static/javascript/join.js"></script>
</head>
<body>
<h2>사용자 추가인증</h2>

<div>
    <form action="/user/login" id="addPwCheck">
        아이디
        <input type="text" id="user_id" readonly placeholder="아이디"><br>

        비밀번호
        <input type="password" id="user_pw"><br>

        <input type="button" onclick="addPwCheck()" value="확인">
    </form>
</div>
</body>
</html>