 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/javascript/user.js"></script>
</head>
<body>
<h2>회원정보수정</h2>

<div>
    <form action="/../../resources/templates/mypage/write" id="insertInfo">
        아이디 <!-- dto랑 만들고 하자 -->
        <input type="text" id="user_id" th:text="${session.user_id}" readonly><br>

        비밀번호
        <input type="password" id="user_pw" th:text="${session.user_pw}" readonly><br>

        이름
        <input type="text" id="user_name"><br>

        전화번호
        <select>
            <option value="none">통신사</option>
            <option value="SKT">SKT</option>
            <option value="KT">KT</option>
            <option value="LGU">LGU</option>
            <option value="OTHER">알뜰폰</option>
        </select>
        <input type="text" id="user_phone"><br>

        주소
        <input type="text" id="user_addr"><br>

        이메일
        <input type="text" id="user_email">
        <select>
            <option value="none">도메인 선택</option>
            <option value="naver.com">@naver.com</option>
            <option value="gmail.com">@gmail.com</option>
            <option value="daum.net">@daum.net</option>
            <option value="nate.com">@nate.com</option>
        </select>

        <div class="button-area">
            <input type="button" onclick="write()" value="수정완료">
        </div>
    </form>
</div>
</body>
</html>