<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>인생팁게시판</h2>
    <div class="">
        <div class="">
            <div class="">board_title</div>
            <div class=""><input type="button" class="" value=""></div>
        </div>
        <div class="">
            <span><a href="/board/write">수정하기</a></span>
            <span><a href="/board/delete">삭제하기</a></span>
        </div>

    </div>
</body>
</html>