<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/javascript/user/id_find.js}"></script>
</head>

<body>
<h1>아이디 찾기</h1>

메일
<input type="text" name="id_find_email" id="id_find_email" onblur="id_find_email()">
<span id="id_find_email_check"></span><br>
<input id="id_find_val" type="hidden" value="0">

이름
<input type="text" name="id_find_name" id="id_find_name"><br>

<input type="button" value="아이디 찾기" id="id_find_button" onclick="id_find()"><br>
<span id="id_find_res"></span><br>
<input id="id_find_res_val" type="hidden" value="0">

<input type="button" value="로그인" style="display: none" id="id_find_login" onclick="location.href = '/user/login'">
<input type="button" value="비밀번호 재설정" style="display: none" id="id_find_pwreset" onclick="location.href = '/user/pw_reset'">
</body>
</html>