<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/javascript/common.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
          crossorigin/>
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/loginjoin.css">
    <script>
        function id_find_email() {
            let data = {};
            const id_find_email = $('#id_find_email');
            data.user_email = id_find_email.val();
            axios.post('/user/id_find_email', data)
                .then(res => {
                    if (res.data) {
                        $('#id_find_email_check').text('잘못된 형식의 메일 입니다.');
                        $('#id_find_val').val(0);
                    } else {
                        $('#id_find_email_check').text('');
                        $('#id_find_val').val(1);
                    }
                })
                .catch(err => {
                    $('#id_find_email_check').text('');
                    $('#id_find_val').val(0);
                })
        }

        function id_find() {
            let data = {};
            const id_find_email = $('#id_find_email');
            data.user_email = id_find_email.val();
            axios.post('/user/id_find_email_id', data)
                .then(res => {
                    const id_find_email_id = res.data;
                    if (id_find_email != null) {
                        $('#id_find_res').text('회원님의 ID는 ' + id_find_email_id + '입니다.');
                        $('#id_find_res_val').val(1);

                        $('#id_find_login').css('display', 'block')
                        $('#id_find_pwreset').css('display', 'block')
                    } else {
                        $('#id_find_res').text('등록된 아이디가 없습니다');
                        $('#id_find_res_val').val(0);

                        $('#id_find_login').css('display', 'none')
                        $('#id_find_pwreset').css('display', 'none')
                    }
                })
        }
    </script>
</head>
<body>
<th:block th:replace="~{common/fragment::header}"></th:block>
<div class="main_content">
    <div class="find_h2">아이디 찾기</div>
    <div class="idfind_content">
        <div class="label">이메일</div>
        <input type="text" name="id_find_email" id="id_find_email" onblur="id_find_email()" placeholder="이메일"><br>
        <input id="id_find_val" type="hidden" value="0">
        <hr>
        <div class="label">이름</div>
        <input type="text" name="id_find_name" id="id_find_name" placeholder="이름"><br>
    </div>
    <span id="id_find_email_check"></span><br>
    <span id="id_find_res"></span>
    <input type="button" class="btn" value="아이디 찾기" id="id_find_button" onclick="id_find()">
    <input id="id_find_res_val" type="hidden" value="0">

    <form th:action="@{/user/login}" method="get">
        <input type="submit" value="로그인" style="display: none" id="id_find_login" class="login_btn">
    </form>

    <form th:action="@{/user/pw_reset}" method="get">
        <input type="submit" value="비밀번호 재설정" style="display: none" id="id_find_pwreset">
    </form>
</div>
<th:block th:replace="~{common/fragment::footer}"></th:block>
</body>
</html>