<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/loginjoin.css">
    <script defer src="/javascript/common.js"></script>
</head>
<body>
<th:block th:replace="~{common/fragment::header}"></th:block>
<div class="main_content">
    <h2>회원가입 성공.html</h2>
    <span th:text="${user_id}"></span>
    <span>님 회원이 되신 것을 환영합니다.</span><br>

    <form th:action="@{/user/login}" method="get">
        <input type="submit" value="로그인"><br>
    </form>

    <h4>시공사 or 기술자 이시면 추가인증을 진행해주세요.</h4>

    <form th:action="@{/user/join_additional}" method="get">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <input type="submit" value="추가인증">
    </form>
</div>
<th:block th:replace="~{common/fragment::footer}"></th:block>
</body>
</html>