<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/javascript/user/join_additional.js}"></script>
</head>

<body>
<h1>추가인증.html</h1>

<input type="radio" name="join_additional" id="join_additional1" value="seller" checked onchange="check()">시공업체
<input type="radio" name="join_additional" id="join_additional2" value="engineer" onchange="check()">기술자<br>

<form th:action="@{/user/join_additional_seller}" method="post" id="join_addForm_seller">
	<div>
		<input type="hidden" name="user_id" th:value="${param.user_id}">
		사업자등록번호 <input type="text" name="seller_regnum" id="seller_regnum" onblur="seller_regnum_check()">
		<span id="seller_regnum_check"></span><br>
		<input id="seller_regnum_val" type="hidden" value="0">
		업체명 <input type="text" id="seller_company" name="seller_company"><br>
		대표자 <input type="text" id="seller_name" name="seller_name"><br>
		주소 <input type="text" id="seller_addr" name="seller_addr"><br>
		<input type="button" value="인증요청" id="join_addBtn" onclick="join_addCheck_seller()">
	</div>
</form>

<form th:action="@{/user/join_additional_engineer}" method="post" id="join_addForm_engineer" style="display: none">
	<div>
		<input type="hidden" name="user_id" th:value="${param.user_id}">
		자격증번호 <input type="text" name="engineer_regnum" id="engineer_regnum" onblur="engineer_regnum_check()">
		<span id="engineer_regnum_check"></span><br>
		<input type="hidden" id="engineer_regnum_val" value="0">
		취득일 <input type="text" name="engineer_regdate" id="engineer_regdate"><br>
		<input type="button" value="인증요청" id="join_addBtn2" onclick="join_addCheck_engineer()">
	</div>
</form>
</body>
</html>