<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function employment_complete() {
            location.href = "/employment/complete?board_number=" + "[[${param.board_number}]]"
        }

        function resume_write() {
            location.href = "/employment/resume/write?board_number=" + "[[${param.board_number}]]";
        }
    </script>
</head>

<body>
<section>
    <h2>employment.detail!</h2>
    <div class="job-content">
        <div th:text="${employmentDto?.board_title}"></div>
        <div th:text="${employmentDto?.seller_company}"></div>
        <div th:text="${employmentDto?.user_id}"></div>
        <div th:text="${employmentDto?.job_area}"></div>
        <div th:text="${employmentDto?.job_status}"></div>
        <div th:text="${employmentDto?.board_content}"></div>
    </div>
    <div class="employment-button">
        <th:block>
            <div th:if="${session.user_id eq employmentDto?.user_id and employmentDto?.job_status eq 모집중}">
                <input type="button" value="마감" onclick="employment_complete()">
            </div>
            <div th:if="${session.user_type eq '2' and employmentDto?.job_status eq 모집중}">
                <input type="button" value="지원하기" onclick="resume_write()">
            </div>
        </th:block>
    </div>
    <div class="find-job">
        <div th:if="${#lists.isEmpty(profileDto)}">
            지원자가 없습니다.
        </div>
        <div th:unless="${#lists.isEmpty(profileDto)}">
            <div th:each="profile: ${profileDto}">
                <a th:href="@{/employment/resume/detail}" th:text="${profile.board_title}">견적서 제목</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>