<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="">
        <h2>구인 구직 목록</h2>
        <div class="">
            <div class="">
            <select>
                <option value="none">위치</option>
                <option value="">서울</option>
                <option value="">인천</option>
                <option value="">경기</option>
                <option value="">춘천</option>
                <option value="">강릉</option>
                <option value="">대구</option>
                <option value="">청주</option>
                <option value="">전주</option>
                <option value="">전북</option>
                <option value="">경남</option>
                <option value="">울산</option>
                <option value="">광주</option>
                <option value="">전남</option>
                <option value="">진주</option>
                <option value="">목포</option>
                <option value="">울산</option>
                <option value="">부산</option>
                <option value="">제주</option>
            </select>
            <select>
                <option value="none">시공종류</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>
                <option value="">목공</option>


            </select>
            <input type="button" onclick="location.href='/employment/write'" value="구인글 작성" />
            </div>
            <div class="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            </div>
        </div>
    </div>
</body>
</html>