<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="">
        <h2>구인 구직 목록</h2>
        <div class="">
            <div class="">
            <select>
                <option value="">위치</option>
            </select>
                
            <button onclick="location.href='/employment/write'"></button>
            </div>
            <div class="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            </div>
        </div>
    </div>
</body>
</html>