<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>기술자모집</title>
    <link rel="stylesheet" href="/css/employment.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
          crossorigin/>
</head>
<body>

<section>
    <div class="table-header">
        <div class="title-container">
        <div class="title">기술자모집</div>
        </div>
            <div class="btn_area">
            <th:block th:if="${session?.user_type eq '1'}">
                <form th:action="@{/employment/write}" method="get">
                    <input type="submit" class="btn" value="작성하기">
                </form>
            </th:block>
        </div>
    </div>
    <div>
        <th:block th:if="${#lists.isEmpty(boarddto)}">
            <div class="">현재 구인글이 존재하지 않습니다.</div>
        </th:block>
    </div>

    <div class="container">
        <div class="table">
            <div class="label">지역</div>
            <div class="label">글제목</div>
            <div class="label">글쓴이</div>
            <div class="label">모집상황</div>
        </div>
        <div class="timeleaf">
            <th:block th:unless="${#lists.isEmpty(boarddto)}">
                <th:block th:each="employment:${boarddto}">
                    <div th:if="${employment?.employee_status < employment?.job_count}">
                        <div class="value" style="font-family: 'Do Hyeon', sans-serif"
                             th:text="${employment?.job_area}"></div>
                        <input type="hidden" name="board_number" th:value="${employment?.board_number}">
                        <a class="value" style="font-family: 'Pretendard', sans-serif"
                           th:href="@{/employment/detail(board_number=${employment.board_number})}"
                           th:text="${employment.board_title}"></a>
                        <div class="value" th:text="${employment?.user_id}"></div>
                        <div class="status">
                            <div class="value1" th:text="${employment?.employee_status}"></div>/
                            <div class="value1" th:text="${employment?.job_count}"></div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</section>


</body>
</html>