<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{fragments::header}"></th:block>
이곳은 구익구직 작성하는 곳!

<section>
<div class="content">

    <form action="/employment/write" method="post">
        <input type="hidden" name="user_id" th:value="${session?.user_id}">
        <input type="text" class="" name="board_title" autofocus placeholder="현장지역/모집분야/모집인원 순으로 적어주세요!" required>
        <input type="text" class="" name="job_count" required>
        <textarea class="" id="board_content" name="board_content" placeholder="모집 내용을 적어주세요"></textarea>

        <div class="">
        <input type="submit" value="작성완료">
        </div>
    </form>

</div>
</section>

<th:block th:replace="~{fragments::footer}"></th:block>
</body>
</html>