* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 600px;
}

/* main */

.main_content {
    height: auto;
    min-height: 100%;
    padding-bottom: 58px;
}

/* 배너 */


/* 브랜드 */
.brand_ex {
    margin: 100px auto;
    width: 80%;
    font-size: 16px;
}

.brand_content {
    margin: 30px 0;
}

.brand_title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.brand_title h2 {
    margin: 0 3px;
    color: #3678c7;
}

.brand_text {
    display: flex;
}

.b_text1 {
    flex-shrink: 0;
    font-weight: bold;
    color: #3678c7;
}

/* 업체페이지 */
.seller_img {
    margin: 20px 10px;
    width: 400px;
    height: 220px;
    background-color: #B6C2CE;
    flex-shrink: 0;
}

.seller_content {
    margin: 150px auto;
    width: 80%;
}

.seller_subcontent {
    display: flex;
}

.seller_text {
    margin: auto 20px;
    font-size: 16px;
}

/* header */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

}

.header_top {
    background-color: #B6C2CE;
    min-height: 58px;
    line-height: 58px;
}

.header_left {
    text-align:center;
}

.header_right {
    float: right !important;
}

.header_right li {
    float: right;
    list-style: none;
}

.header_left ul {

    margin-right: auto;
    margin-left: auto;
}

.header_left li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

li {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    float: left;
    width: 75px;
    height: 58px;
    background-color: cornflowerblue;
}

.header_content {
    margin-right: auto;
    margin-left: auto;
}

.success {
    display: none;
}

.before {
    display: block;
}

/* footer */

.footer_bottom {
    height: 58px;
    position: absolute;
    width: 100%;
    background-color: lightgray;
    min-height: 58px;
    line-height: 58px;
}

.footer_content {
    text-align: center;
}

li.user {
    display: none;
}

li.seller{
    display: none;
}

li.engineer{
    display: none;
}

.list_box {
    display: none;
    width: 180px;
    background-color: lightslategrey;
}

.list_box div {
    display: none;
}