* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 90vh;
    background-color: #f8f9fa;;
}

/* main */

.main_content {
    margin: 0 auto;
    width: 70vh;
    height: auto;
    min-height: 100%;
    padding: 3vh 0;
}

hr {
    margin: 1vh 0;
}

h2 {
    margin: 3vh 0;
}

.mypage_content {
    margin: 1vh 2vh;
    padding: 1vh 1vh;
    border: 1px solid black;
    border-radius: 1vh;
}

.mypage_text {
    all: unset;
    margin: 1vh 1vh;
    width: 100%;
    font-size: 14px;
}

.mypage_write_button {
    all: unset;
    display: block;
    margin: 1vh auto;
    width: 20vh;
    height: 5vh;
    text-align: center;
    background-color: #449fff;
    border-radius: 15vh;
    transition: all 0.3s ease;
}

.mypage_write_button:hover {
    background-color: #2f7edb;
    cursor: pointer;
}