<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seller main</title>
</head>
<body>
<div>
    <!--   header   -->
</div>
<h2>업체페이지 메인</h2>
<div>
<!-- ?  -->
    <div>
        <div><p>000인테리어</p></div>
        <div><input type="button" value="업체페이지 수정" onclick="location.href='write.html'"></div>
        <div>
            <p>
                업체페이지 설명설명 주소 주소 어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구
            </p>
        </div>
    </div>
    <br>
        <div>시공사례</div>
        <div><input type="button" value="글쓰기" ></div>
    <br>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
    <div>
        <div>이미지 들어갈 곳</div>
        <div>글제목</div>
        <div>글설명</div>
    </div>
</div>

<div>
    <!--   footer   -->
</div>
</body>
</html>