<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script defer src="/javascript/common.js"></script>
        <script>
            const user = "[[${session?.user_id}]]";
            const type = "[[${session?.user_type}]]";

            $(() => {
                console.log(type)
                userType();
                loginStatus();

                $(".slider").bxSlider({
                    adaptiveHeight: true,
                    responsive: true,
                    // slideWidth: 1000,
                    auto: true,
                    controls: true,
                    autoHover: true,
                    pager: true,
                    autoControls: false,
                })
            })
        </script>
        <link rel="stylesheet" href="/css/headerfooter.css">
        <style>
            .main_content_container {
                margin: 140px auto 30px auto;
            }
        </style>
    </head>

    <body>
        <form action="">
            <div>
                <span>로고 : </span>
                <input name="multipart_files" type="file">
            </div>

            <div>
                <div>업체소개 : </div>
                <textarea name="board_content">
                </textarea>
            </div>

            <input type="submit" value="작성완료">
        </form>
    </body>
</html>