<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seller Write</title>
</head>
<body>
<div>
    <!--   header   -->
</div>
<h2>업체페이지 작성/수정</h2>
<div>
    <form action="">
        <div>
            <input type="text" name="board_title" id="">
        </div>
        <br>
        <div>
            <textarea name="board_content" placeholder="글을 작성해주세요."></textarea>
        </div>
    </form>
</div>

<div>
    <!--   footer   -->
</div>
</body>
</html>