<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/seller/write.css"/>
	<style>
        .ck-editor__editable_inline:not(.ck-comment__input *) {
            height: 800px;
            overflow-y: auto;
        }
	</style>
	<title>Title</title>
</head>

<body>
<div id="app">
	<main>
		<aside>왼쪽</aside>
		<section>
			<div class="mb-3 mt-3">
				<label for="title" class="form-label">제목:</label>
				<input type="text" class="form-control" id="title" placeholder="제목 입력..." name="title">
			</div>
			<div id="content"></div>
			<div class="d-grid mb-3 mt-3">
				<button type="button" class="btn btn-outline-primary btn-block" id="write">작성</button>
			</div>
			<a href="/static">루트로</a>
		</section>
		<aside>오른쪽</aside>
	</main>
</div>
<script>
	//let editorInstance;
	// ckEditor classic 기본어댑터(이미지 업로드만 가능,업로드취소한 파일 삭제 불가 )
	// ClassicEditor
	//     .create(document.querySelector('#content'), {
	//         ckfinder: {
	//             uploadUrl: '/write/image', //'{자기가 만든 컨트롤러 url}' ,기본값 :upload
	//         }
	//     })
	//     .then(editor => {
	//         //CKEditor에디터 조작의 메소드 및 속성 제공하는 객체
	//         editorInstance = editor;
	//         console.log("editor:", editor);
	//         console.log('Editor was initialized');
	//     })
	//     .catch(error => {
	//         console.error(error);
	//     });

	let editorInstance;
	let uploadedImages = [];

	ClassicEditor.create(document.querySelector('#content')).then(editor => {
		editorInstance = editor;
		editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
			return {
				upload: () => {
					return loader.file.then(file => {
						const data = new FormData();
						data.append('upload', file);
						return axios.post('/write/image', data).then(response => {
							const {filename, url} = response.data;
							console.log("filename:", filename)
							console.log("url:", url)
							uploadedImages.push(filename);
							return {
								default: url
							};
						});
					});
				}
			};
		};
	}).catch(error => {
		console.error('editor 생성 오류', error);
	});

	let isFormSubmitted = false;
	window.addEventListener('pagehide', function (event) {
		if (!isFormSubmitted && uploadedImages.length > 0) {
			const payload = JSON.stringify(uploadedImages)
			const blob = new Blob([payload], {type: 'application/json'});
			navigator.sendBeacon('/cleanup', blob);
		}
	});

	window.addEventListener('beforeunload', function (event) {
		if (!isFormSubmitted && uploadedImages.length > 0) {
			event.preventDefault();
			event.returnValue = '';
		}
	});

	$('#write').click(function () {
		isFormSubmitted = true;
		const title = $('#title').val();
		const content = editorInstance.getData();
		console.log("editorInstance.getData():", content);
		const form = `
				<form action='/write' method='post'>
					<input type='hidden' name='title' value='${title}'>
					<input type='hidden' name='content' value='${content}'>
				</form>
			`;

		const $form = $(form);
		for (const image of uploadedImages) {
			$form.append(`<input type='hidden' name='upload' value='${image}'>`);
		}
		$form.appendTo($('body')).submit();
	})
</script>
</body>
</html>