<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    ul {
        list-style-type: none;
    }
</style>
<body>
<div>
    <!--header-->
</div>

<section>
    <div>
        <!--  위 div는 전체 묶음  -->
        <div th:text="${takeoffDto?.wish_addr}">주소</div>
        <br>
        <div th:text="${takeoffDto?.wish_type}">주거형태</div>
        <br>
        <div th:text="${takeoffDto?.wish_size}">평수</div>
        <br>
        <div th:text="${takeoffDto?.wish_size_text}">평수상세</div>
        <br>
        <div th:text="${takeoffDto?.wish_money}+만원">예산</div>
        <br>
        <th:block th:each="takeoffSeller:${takeoffSellerDto}">
            <div th:text="${takeoffSeller?.major_category}">대분류 넘버</div>
            <th:block th:each="subcategory:${takeoffSeller.sub_category}">
                <div th:text="${subcategory}">중분류 넘버</div>
            </th:block>
            <div th:text="${takeoffSeller?.major_text}">대분류 텍스트</div>
            <br>
            <div th:text="${takeoffSeller?.wish_category_seller_answer}">판매자답변</div>
            <div th:text="${takeoffSeller?.wish_category_seller_price}+만원">견적금액</div>
            <br>
        </th:block>

        <div th:text="|합계: ${all_money}만원|">합계</div>

        <div th:if="${session?.user_type == '1' && takeoffDto?.apply_status == '상담중'}">
            <form th:action="@{/takeoff/complete}" method="get">
            <input type="hidden" name="wish_number" th:value="${takeoffDto?.wish_number}">
            <input type="hidden" name="user_id" th:value="${session?.user_id}">
            <input type="submit" value="계약완료">
            </form>
        </div>

        <div th:if="${session?.user_type == '0' && takeoffDto?.apply_status == '대기중'}">
            <form th:action="@{/takeoff/changestatus}">
            <input type="hidden" name="wish_number" th:value="${takeoffDto?.wish_number}">
            <input type="hidden" name="user_id" th:value="${takeoffDto?.user_id}">
            <input type="submit" value="견적선택">
            </form>
        </div>
    </div>
</section>
</body>
</html>