<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<th:block th:replace="~{common/fragment::header}"></th:block>
<section>
    <div class="content">
        <th:block th:if="${#lists.ifEmpty(takeoffList)}">
            작성할 수 있는 요청건이 존재하지 않습니다
        </th:block>
        <form action="/takeoff/selle/write" class="write-from" method="post">
            <h2>견적서 작성</h2>
            <input type="hidden" name="seller_company" th:value="${session.seller?.seller_company}">
            <input type="text" name="board_title" />
            <div class="takeoff-write">

            </div>
        </form>
    </div>
</section>
<th:block th:replace="~{common/fragment::footer}"></th:block>
</body>
</html>