<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<section>
    <div class="content">
        <form action="/takeoff/selle/write" class="write-from" method="post">
            <h2>견적서 작성</h2>
            <input type="hidden" name="seller_company" th:value="${session.seller?.seller_company}">
            <input type="text" name="board_title" />
            <div class="takeoff-write">
                <th:block th:unless="${#lists.ifEmpty()}">

                </th:block>
            </div>
        </form>
    </div>
</section>
</body>
</html>