<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <h2>resume detail!!</h2>
    <div class="profile_detail">
        <div class="">제목</div>
        <div th:text="${profileDto?.board_title}"></div>
        <div class="">지원일자</div>
        <div th:text="${profileDto?.board_regdate}"></div>
        <div class="">이름</div>
        <div th:text="${profileDto?.user_name}"></div>
        <div class="">연락처</div>
        <div th:text="${profileDto?.user_phone}"></div>
        <div class="">경력</div>
        <div th:text="${profileDto?.board_content}"></div>

        <div th:if="${session.user_type eq '1' and profileDto.employee_status != 1}">
            <form th:action="@{/employment/lets_do_it}" method="post">
            <input type="hidden" name="board_number" th:value="${profileDto?.board_number}">
            <input type="hidden" name="user_id" th:value="${profileDto?.user_id}">
            <input type="submit" value="채용하기">
            </form>
        </div>
    </div>
</section>

</body>
</html>